.elements {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-auto-flow: dense;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

@media screen and (min-width: 631px) and (max-width: 930px) {
  .elements {
    max-width: 581px;
  }
}

@media screen and (min-width: 320px) and (max-width: 630px){
  .elements {
    max-width: 282px;
  }
}

